.App {
    margin: auto;
    width: calc(100% / 2);
    color: blue;
    background-color: beige;
    border: 1px solid black;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

    padding: 10px;
}